<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Microsoft Identity Python Web App</h1>
    <h2>Welcome {{ user.get("userinfo").get("name") }}!</h2>

    {% if config.get("ENDPOINT") %}
      <li><a href='/graphcall'>Call Microsoft Graph API</a></li>
    {% endif %}

    {% if my_session.get("tokens") %}
      <li><a href='/show_tokens'>Laat Tokens enzo zien</a></li>
    {% endif %}
    <!-- {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
    {% endif %} -->

    <li><a href="/logout">Logout</a></li>
    <hr>

    <p><b>Client gegevens:</b></p>
    <table>
        <tr>
            <td>Client ID</td>
            <td>{{ app_id }}</td>
        </tr>
        <tr>
            <td>Client Secret</td>
            <td>{{ app_secret }}</td>
        </tr>
    </table>

    <p><b>Authorization code gegevens:</b></p>
    <table>
        <tr>
            <td>Auth code:</td>
            <td>{{ my_session["auth_code"] }}</td>
        </tr>
        <tr>
            <td>State sent:</td>
            <td>{{ my_session["auth_code_params"]["state"][0] }}</td>
        </tr>
        <tr>
            <td>State return:</td>
            <td>{{ my_session["state_back"] }}</td>
        </tr>
        <tr>
            <td>Nonce sent:</td>
            <td>{{ my_session["auth_code_params"]["nonce"][0] }}</td>
        </tr>
        <tr>
            <td>Nonce return:</td>
            <td>{{ user["userinfo"]["nonce"] }}</td>
        </tr>
    </table>

    <p><b>Token gegevens:</b></p>
    <table>
        <th style="text-align:left">Item</th>
        <th style="text-align:left">Waarde</th>
        {% for k, v in user.items() %}
            {% if k == "userinfo" %}
                <tr>
                    <td>userinfo</td>
                    <td>Item</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <th style="text-align:left">-</th>
                            <th style="text-align:left">Userinfo Waarde</th>
                            <tr></tr>
                            {% for kf, vf in user["userinfo"].items() %}
                                <tr>
                                    <td>{{kf}}</td><td>{{vf}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{k}}</td><td>{{v}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <footer style="text-align: right">Powered by Authlib</footer>
</body>
</html>

