<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>Tokens</h2>
    <dl>
      <dt>Token type</dt>
        <dd>{{ user["token_type"] }}</dd>
      <dt>Scope</dt>
        <dd>{{ user["scope"] }}</dd>
      <dt>Access token</dt>
        <dd>{{ user["access_token"] }}</dd>
      <dt>Refresh token</dt>
        <dd></dd>
      <dt>ID token</dt>
        <dd>{{ user["id_token"] }}</dd>
      <hr>
    </dl>
    <hr>
    <a href="{{ url_for('index') }}">Homepage</a>
</body>
</html>
